/* TODO Add site wide styles */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
}

form div {
    padding-bottom: 8px;
}

form input {
    margin: 0px 5px;
}

.profile-dropdown {
    display: visible
}

.hidden {
    display: none
}

.nav-ul {
    list-style-type: none;
}
